@page
@model project.Pages.IndexModel

@{
    ViewData["Title"] = "Kolkata Tour";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Kolkata Tour</h1>
    <p>Explore the City of Joy.</p>

    <img src="https://upload.wikimedia.org/wikipedia/commons/3/32/Victoria_Memorial_Kolkata.jpg"
         width="700"
         class="img-fluid rounded"
         alt="Victoria Memorial" />

    <div class="mt-4">
        <h2>Popular Places</h2>

        <ul class="list-group">
            <li class="list-group-item">Victoria Memorial</li>
            <li class="list-group-item">Howrah Bridge</li>
            <li class="list-group-item">Dakshineswar Temple</li>
            <li class="list-group-item">Eco Park</li>
            <li class="list-group-item">Park Street</li>
        </ul>
    </div>
</div>