 @page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center mt-5">
    <h1 class="display-4">Welcome Rupam</h1>
    
    <p class="lead">
        This is my first ASP.NET Core Razor Page Application using .NET 9
    </p>

    <hr />

    <h3>Technologies I Am Learning</h3>

    <ul class="list-group w-50 mx-auto">
        <li class="list-group-item">Networking</li>
        <li class="list-group-item">Cyber Security</li>
        <li class="list-group-item">AWS Cloud</li>
        <li class="list-group-item">Linux Administration</li>
        <li class="list-group-item">ASP.NET Core</li>
    </ul>

    <div class="mt-4">
        <button class="btn btn-primary">
            Explore More
        </button>
    </div>
</div>